
@media only screen and (max-width : 1200px)
	.hero
		padding: 200px 0

		&__title
			width: 66%

	.advantages__item
		padding-left: 10px
		padding-right: 10px
	
	.equipment
		&__bg
			top: 0

		&__block
			top: 18%

			&_content
				left: -600px
				transform: translate(0,0)

			&--seven
				top: 65%
				left: 76%

				.equipment__block_content
					top: auto
					bottom: 40px
					left: -700px

			&--six
				top: 43%
				left: 80%

				.equipment__block_content
					left: -600px

			&--five
				top: 71%
				left: 42%

				.equipment__block_content
					top: auto
					bottom: 40px
					transform: translate(0,0)
					left: -230px

			&--four
				top: 15%
				left: 40%

				.equipment__block_content
					left: -230px

			&--three
				top: 35%
				left: 67%

				.equipment__block_content
					left: -450px

			&--two
				top: 70%
				left: 25%

				.equipment__block_content
					top: auto
					bottom: 40px
					left: -50px

			&--one
				top: 41%
				left: 55%

				.equipment__block_content
					left: -350px

	.gallery
		&__title
			p
				br
					display: none

	.feedback__bg
		right: -65%

	.contacts
		&__map
			height: 450px

	.footer__item
		&:nth-child(1)
			width: 23%
			margin-right: 0


@media only screen and (max-width : 992px)
	
	h2
		font-size: 34px


	.title
		h2
			font-size: 34px

			&::before
				left: -25px
		p
			margin-right: 60px

		&--left
			margin-bottom: 40px

			p
				margin-right: 0
				margin-left: 30px


	.header
		padding: 5px 0

		&__container
			padding-right: 70px

		&__logo
			height: 55px


	.nav
		position: fixed
		display: block
		width: 320px
		height: 100%
		flex-direction: column
		right: -100%
		top: 65px
		z-index: -1
		background: rgba(255, 255, 255, .95)
		transition: all .6s

		ul
			display: flex
			flex-direction: column
			justify-content: center
			margin-top: 40px
			margin-left: 40px

		li
			margin: 0
			margin-bottom: 10px

		a
			color: #000
		
		&--active
			right: 0


	.hamburger
		display: block


	.hero
		padding-bottom: 100px

		&__title
			width: 100%


	.production p
		margin-left: 0
	
	.section
		padding: 60px 0


	.partners

		&__number
			margin-bottom: 40px

	.feedback
		&__title
			flex-direction: column

			p
				width: 100%

		&__bg
			display: none

		&__form
			margin: 0 auto
	
	.contacts
		&__list
			flex-wrap: wrap

		&__item
			width: 45%





@media only screen and (max-width : 767px)
	.header

@media only screen and (max-width : 576px)
	.header

@media only screen and (max-width : 480px)
	.header









